NEXT_PUBLIC_SITE_URL=https://monocem.co.uk
NEXT_PUBLIC_WHATSAPP_NUMBER=447000000000
NEXT_PUBLIC_CONTACT_EMAIL=info@monocem.co.uk
NEXT_PUBLIC_CONTACT_PHONE=+44 7774 708801
RESEND_API_KEY=
QUOTE_NOTIFICATION_EMAIL=monocem.surface@gmail.com
